Flarial.dir/
.claude/
CMakeCache.txt
*.vcxproj.filters
*.vcxproj
CMakeFiles
*.CMakeCache
*.cmake
*.sln
*.csproj
x64
/.vs
out/
Release/
Debug/
Debug/*.pdb
bin/
obj/
build/
.vs/
.vscode/
.idea/
cmake-build-debug-ninja/
cmake-build-release-ninja/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-minsizerel-visual-studio/
cmake-build-visual-profile/
clion/
clion-ninja/
*.zip
localextras/
_deps/
*.pdb
*.dll
*.ilk
Makefile
cmake-build-debug/
Testing/
auto-inject.bat
Minecraft.Loader.exe
compiledoom.txt

