Flarial.dir/
CMakeCache.txt
*.vcxproj.filters
*.vcxproj
CMakeFiles
*.CMakeCache
*.cmake
*.sln
*.csproj
x64
/.vs
out/
Release/
Debug/
bin/
obj/
build/
.vs/
.vscode/
.idea/
cmake-build-debug/
cmake-build-release-visual-studio/