Flarial.dir/
CMakeCache.txt
*.vcxproj.filters
*.vcxproj
CMakeFiles
*.CMakeCache
*.cmake
*.sln
*.csproj
x64
/.vs
out/
Release/
Debug/
Debug/*.pdb
bin/
obj/
build/
.vs/
.vscode/
.idea/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-minsizerel-visual-studio/
cmake-build-visual-profile/
clion/
clion-ninja/
*.zip
localextras/