#include "Assets.hpp"

// PNG Resources
IDR_4D_PNG                    PNG "Data\\4d.png"
IDR_ANIMATIONS_PNG            PNG "Data\\Animations.png"
IDR_ARROW_PNG                 PNG "Data\\arrow.png"
IDR_AUTO_SPRINT_PNG           PNG "Data\\auto_sprint.png"
IDR_AUTOGG_PNG                PNG "Data\\autogg.png"
IDR_BLOCK_PNG                 PNG "Data\\block.png"
IDR_BLOCK_BREAK_INDICATOR_PNG PNG "Data\\block_break_indicator.png"
IDR_BLUR_PNG                  PNG "Data\\blur.png"
IDR_CHESTPLATE_PNG            PNG "Data\\chestplate.png"
IDR_CLICKGUI_PNG              PNG "Data\\clickgui.png"
IDR_CLOUDY_PNG                PNG "Data\\cloudy.png"
IDR_COMBO_PNG                 PNG "Data\\combo.png"
IDR_COORDINATES_PNG           PNG "Data\\coordinates.png"
IDR_CURSOR_PNG                PNG "Data\\cursor.png"
IDR_DOWN_PNG                  PNG "Data\\down.png"
IDR_DVDLOGO_01_PNG            PNG "Data\\dvdlogo-01.png"
IDR_DVDLOGO_02_PNG            PNG "Data\\dvdlogo-02.png"
IDR_DVDLOGO_03_PNG            PNG "Data\\dvdlogo-03.png"
IDR_DVDLOGO_04_PNG            PNG "Data\\dvdlogo-04.png"
IDR_DVDLOGO_05_PNG            PNG "Data\\dvdlogo-05.png"
IDR_DVDLOGO_06_PNG            PNG "Data\\dvdlogo-06.png"
IDR_DVDLOGO_07_PNG            PNG "Data\\dvdlogo-07.png"
IDR_DVDLOGO_08_PNG            PNG "Data\\dvdlogo-08.png"
IDR_EYE_PNG                   PNG "Data\\eye.png"
IDR_FIELD_OF_VIEW_PNG         PNG "Data\\field-of-view.png"
IDR_FLARIAL_TITLE_PNG         PNG "Data\\flarial-title.png"
IDR_FPS_PNG                   PNG "Data\\fps.png"
IDR_FREELOOK_PNG              PNG "Data\\freelook.png"
IDR_FRYING_PAN_PNG            PNG "Data\\frying-pan.png"
IDR_FULLBRIGHT_PNG            PNG "Data\\fullbright.png"
IDR_GEAR_PNG                  PNG "Data\\gear.png"
IDR_HURT_PNG                  PNG "Data\\hurt.png"
IDR_ICOGNITO_PNG              PNG "Data\\icognito.png"
IDR_KEYBOARD_PNG              PNG "Data\\keyboard.png"
IDR_LIKE_PNG                  PNG "Data\\like.png"
IDR_LIST_PNG                  PNG "Data\\list.png"
IDR_LOGO_PNG                  PNG "Data\\logo.png"
IDR_MAGNIFY_PNG               PNG "Data\\magnify.png"
IDR_MAN_PNG                   PNG "Data\\man.png"
IDR_MEMORY_PNG                PNG "Data\\memory.png"
IDR_MODULES_PNG               PNG "Data\\modules.png"
IDR_NAMETAG_PNG               PNG "Data\\nametag.png"
IDR_PENCIL_PNG                PNG "Data\\pencil.png"
IDR_PING_PNG                  PNG "Data\\ping.png"
IDR_POTION_PNG                PNG "Data\\potion.png"
IDR_RE_Q_PNG                  PNG "Data\\re-q.png"
IDR_REACH_PNG                 PNG "Data\\reach.png"
IDR_RENDEROPTIONS_PNG         PNG "Data\\renderoptions.png"
IDR_RGB_PNG                   PNG "Data\\rgb.png"
IDR_SEARCH_PNG                PNG "Data\\search.png"
IDR_SERVER_IP_PNG             PNG "Data\\server-ip.png"
IDR_SKULL_PNG                 PNG "Data\\skull.png"
IDR_SLOWLY_PNG                PNG "Data\\slowly.png"
IDR_SMOKE_PNG                 PNG "Data\\smoke.png"
IDR_SNAP_PNG                  PNG "Data\\snap.png"
IDR_SPEED_PNG                 PNG "Data\\speed.png"
IDR_STOP_PNG                  PNG "Data\\stop.png"
IDR_TEXT_BOX_PNG              PNG "Data\\text-box.png"
IDR_TIME_PNG                  PNG "Data\\time.png"
IDR_TRANSPARENT_PNG           PNG "Data\\transparent.png"
IDR_UPSIDE_DOWN_PNG           PNG "Data\\upside-down.png"
IDR_ITEM_PHYSICS_PNG          PNG "Data\\item-physics.png"
IDR_WAYPOINTS_PNG             PNG "Data\\waypoints.png"
IDR_MOVABLE_PNG               PNG "Data\\movable.png"
IDR_AUTORQ_PNG                PNG "Data\\autorq.png"
IDR_INVENTORY_PNG             PNG "Data\\inventory.png"
IDR_SCALE_PNG                 PNG "Data\\scale.png"
IDR_ENTITYCOUNTER_PNG         PNG "Data\\creeper.png"
IDR_HIVE_PNG                  PNG "Data\\hive.png"
IDR_HIVE_STATS_PNG            PNG "Data\\hivestats.png"
IDR_SCRIPTING_PNG             PNG "Data\\scripting.png"
IDR_SCRIPTING_WHITE_PNG       PNG "Data\\scriptingwhite.png"
IDR_SCRIPT_PNG                PNG "Data\\script.png"
IDR_SWORD_PNG                 PNG "Data\\sword.png"
IDR_PERSPECTIVE_PNG           PNG "Data\\perspective.png"
IDR_ZEQA_PNG                  PNG "Data\\zeqa.png"
IDR_WAILA_PNG                 PNG "Data\\waila.png"
IDR_HEART_PNG                 PNG "Data\\heart.png"
IDR_SPOTIFY_PNG               PNG "Data\\spotify.png"
IDR_MUMBLE_PNG                PNG "Data\\mumble.png"
IDR_F3_PNG                    PNG "Data\\f3.png"
IDR_RENDER_DRAGON_PNG         PNG "Data\\renderdragon.png"
IDR_SKINSTEALER_PNG           PNG "Data\\SkinStealer.png"
IDR_CINEMATICCAMERA_PNG       PNG "Data\\cinematiccamera.png"
IDR_DEATHLOGGER_PNG           PNG "Data\\deathlogger.png"
IDR_TWERK_PNG                 PNG "Data\\twerk.png"
IDR_COMPACTCHAT_PNG           PNG "Data\\compactchat.png"
IDR_KEYSTROKES_PNG            PNG "Data\\keystrokes.png"
IDR_CHUNKBORDER_PNG           PNG "Data\\chunkborder.png"
IDR_SUBTITLES_PNG             PNG "Data\\subtitles.png"
IDR_TOTEM_PNG                 PNG "Data\\totem.png"

IDR_FREEZEENGINE_PNG          PNG "Data\\freezeengine.png"
IDR_STONEHUNTER_PNG           PNG "Data\\stonehunter.png"
IDR_BEAVER_PNG                PNG "Data\\beaver.png"
IDR_LEWIS_PNG                 PNG "Data\\lewis.png"
IDR_LEWIS_MP3                 MP3 "Data\\Audio\\Lewis.mp3"
IDR_DELETE_PNG                PNG "Data\\delete.png"

IDR_PING_AMAZING              PNG "Data\\ping_amazing.png"
IDR_PING_GOOD                 PNG "Data\\ping_good.png"
IDR_PING_OKAY                 PNG "Data\\ping_okay.png"
IDR_PING_BAD                  PNG "Data\\ping_bad.png"
IDR_PING_QUIT                 PNG "Data\\ping_quit.png"

IDR_SETTINGS_PNG              PNG "Data\\settings.png"
IDR_SETTINGS_WHITE_PNG        PNG "Data\\settingswhite.png"
IDR_STYLUS_PNG                PNG "Data\\stylus.png"
IDR_STYLUS_WHITE_PNG          PNG "Data\\styluswhite.png"
IDR_FOLDER_WHITE_PNG          PNG "Data\\folderwhite.png"
IDR_FOLDER_PNG                PNG "Data\\folder.png"

IDR_CYAN_LOGO_PNG             PNG "Data\\cyan-logo.png"
IDR_RED_LOGO_PNG              PNG "Data\\red-logo.png"
IDR_WHITE_LOGO_PNG            PNG "Data\\white-logo.png"
IDR_YELLOW_LOGO_PNG           PNG "Data\\yellow-logo.png"
IDR_GAMER_LOGO_PNG            PNG "Data\\gamer-logo.png"
IDR_BOOSTER_LOGO_PNG          PNG "Data\\booster-logo.png"
IDR_ORANGE_LOGO_PNG           PNG "Data\\orange-logo.png"
IDR_SUPPORTER_LOGO_PNG	      PNG "Data\\supporter-logo.png"

IDR_NIKITA_01                 PNG "Data\\nikita\\01.png"
IDR_NIKITA_02                 PNG "Data\\nikita\\02.png"
IDR_NIKITA_03                 PNG "Data\\nikita\\03.png"
IDR_NIKITA_04                 PNG "Data\\nikita\\04.png"
IDR_NIKITA_05                 PNG "Data\\nikita\\05.png"
IDR_NIKITA_06                 PNG "Data\\nikita\\06.png"
IDR_NIKITA_07                 PNG "Data\\nikita\\07.png"
IDR_NIKITA_08                 PNG "Data\\nikita\\08.png"
IDR_NIKITA_09                 PNG "Data\\nikita\\09.png"
IDR_NIKITA_10                 PNG "Data\\nikita\\10.png"
IDR_NIKITA_11                 PNG "Data\\nikita\\11.png"
IDR_NIKITA_12                 PNG "Data\\nikita\\12.png"
IDR_NIKITA_13                 PNG "Data\\nikita\\13.png"
IDR_NIKITA_14                 PNG "Data\\nikita\\14.png"
IDR_NIKITA_15                 PNG "Data\\nikita\\15.png"
IDR_NIKITA_16                 PNG "Data\\nikita\\16.png"

// TTF Resources
IDR_FONT_TTF                  RCDATA "Data\\Fonts\\font.ttf"
IDR_FONT_BOLD_TTF             RCDATA "Data\\Fonts\\font_bold.ttf"
IDR_MINECRAFTIA_TTF           RCDATA "Data\\Fonts\\minecraftia.ttf"

// JPG Resources
IDR_PATAR_JPG                 JPG "Data\\patar.jpg"
IDR_01_JPG                    JPG "Data\\gif\\01.jpg"
IDR_02_JPG                    JPG "Data\\gif\\02.jpg"
IDR_03_JPG                    JPG "Data\\gif\\03.jpg"
IDR_04_JPG                    JPG "Data\\gif\\04.jpg"
IDR_05_JPG                    JPG "Data\\gif\\05.jpg"
IDR_06_JPG                    JPG "Data\\gif\\06.jpg"
IDR_07_JPG                    JPG "Data\\gif\\07.jpg"
IDR_08_JPG                    JPG "Data\\gif\\08.jpg"
IDR_09_JPG                    JPG "Data\\gif\\09.jpg"
IDR_10_JPG                    JPG "Data\\gif\\10.jpg"
IDR_11_JPG                    JPG "Data\\gif\\11.jpg"
IDR_12_JPG                    JPG "Data\\gif\\12.jpg"
IDR_13_JPG                    JPG "Data\\gif\\13.jpg"
IDR_14_JPG                    JPG "Data\\gif\\14.jpg"
IDR_15_JPG                    JPG "Data\\gif\\15.jpg"
IDR_16_JPG                    JPG "Data\\gif\\16.jpg"
IDR_17_JPG                    JPG "Data\\gif\\17.jpg"
IDR_18_JPG                    JPG "Data\\gif\\18.jpg"
IDR_19_JPG                    JPG "Data\\gif\\19.jpg"
IDR_20_JPG                    JPG "Data\\gif\\20.jpg"
IDR_21_JPG                    JPG "Data\\gif\\21.jpg"
IDR_22_JPG                    JPG "Data\\gif\\22.jpg"
IDR_23_JPG                    JPG "Data\\gif\\23.jpg"
IDR_24_JPG                    JPG "Data\\gif\\24.jpg"
IDR_25_JPG                    JPG "Data\\gif\\25.jpg"
IDR_26_JPG                    JPG "Data\\gif\\26.jpg"
IDR_27_JPG                    JPG "Data\\gif\\27.jpg"
IDR_28_JPG                    JPG "Data\\gif\\28.jpg"
IDR_29_JPG                    JPG "Data\\gif\\29.jpg"
IDR_30_JPG                    JPG "Data\\gif\\30.jpg"
IDR_31_JPG                    JPG "Data\\gif\\31.jpg"
IDR_32_JPG                    JPG "Data\\gif\\32.jpg"
IDR_CHYVES_JPG                JPG "Data\\chyves.jpg"
IDR_TREEGFX_JPG               JPG "Data\\treegfx.jpg"